extends ../layout.bare.pug

block variables
  - var __title__ = 'SignUp'
  - var __page__ = 'signup'

block content
  .middle-box.text-center.loginscreen.animated.fadeInDown
    div
      div
        h1.logo-name IT-h
      h3 Register to IT-hindus
      p Create account to see it in action.
      form.m-t(role='form', action='/signup', method='POST')
        input.form-control(type='hidden', name='_csrf', value=_csrf)
        .form-group
          input.form-control(type='email', name='email', placeholder='Email', required='')
        .form-group
          input.form-control(type='text', name='firstname', placeholder='First name', required='')
        .form-group
          input.form-control(type='text', name='lastname', placeholder='Last name', required='')
        .form-group
          input.form-control(type='text', name='group', placeholder='Group', required='')
        .form-group
          input.form-control(type='password', name='password', placeholder='Password', required='')
        .form-group
          input.form-control(type='password', name='password2', placeholder='Confirm password', required='')
        .form-group
          .checkbox.i-checks
            label
              input(type='checkbox', required='')
              i
              |  Agree the terms and policy
        button.btn.btn-primary.block.full-width.m-b(type='submit') Register
        p.text-muted.text-center
          small Already have an account?
        a.btn.btn-sm.btn-white.btn-block(href='/login') Login
      p.m-t
        small IT-hindus © 2019
