script.
  var messages = !{JSON.stringify(messages)};

  $(document).ready(function() {
  
    setTimeout(function() {
      toastr.options = {
        closeButton: true,
        progressBar: true,
        showMethod: 'slideDown',
        timeOut: 4000
      };

      (messages.errors || []).forEach(error => {
        toastr.error(error.msg, 'Error :(');
      });
      
      (messages.info || []).forEach(info => {
        toastr.info(info.msg, 'Warning :/');
      });
      
      (messages.success || []).forEach(success => {
        toastr.success(success.msg, 'Success :)');
      });
      
    }, 1300);
  });
