extends layout

block append variables
  - var __title__ = 'Home'
  - var __page__ = 'home'
  - var __breadcrumb__ = null

block content
  .wrapper.wrapper-content.animated.fadeInRight
    .row.border-bottom.white-bg
      .col-12
        h2 Welcome
        small Soon...
